<?xml version="1.0"?>

<launch>

  <node pkg="ardrone_autonomy" type="ardrone_driver" name="ardrone_driver">
     <param name="navdata_demo" value="0" />
     <param name="realtime_navdata" value="true" />  
  </node>

  <node pkg="joy" type="joy_node" name="joy_node"/>

  <node pkg="sonar_reading" type="sonar_reading" name="sensor1">
        <param name="sensor" type="int" value="1" />
  </node>
  <node pkg="sonar_reading" type="sonar_reading" name="sensor2">
        <param name="sensor" type="int" value="2" />
  </node>
  <node pkg="sonar_reading" type="sonar_reading" name="sensor3">
        <param name="sensor" type="int" value="3" />
  </node>
  <node pkg="sonar_reading" type="sonar_reading" name="sensor4">
        <param name="sensor" type="int" value="4" />
  </node>
  <node pkg="projeto" type="operation" name="operation" />

  <!--<node pkg="ardrone_joystick" type="ardrone_teleop" name="ardrone_teleop"/>-->


</launch>
