<?xml version="1.0"?>

<launch>

  <node pkg="ardrone_autonomy" type="ardrone_driver" name="ardrone_driver"  output="screen" clear_params="true">
     <param name="navdata_demo" value="0" />
     <param name="realtime_navdata" value="true" />
     <param name="euler_angle_max" value="0.21" />
     <param name="control_vz_max" value="700" />
     <param name="control_yaw" value="1.75" />
     <param name="realtime_video" value="false" />

     <rosparam param="cov/imu_la">[0.1, 0.0, 0.0, 0.0, 0.1, 0.0, 0.0, 0.0, 0.1]</rosparam>
     <rosparam param="cov/imu_av">[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 1.0]</rosparam>
     <rosparam param="cov/imu_or">[1.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 100000.0]</rosparam>
  </node>

  <node pkg="joy" type="joy_node" name="joy_node"/>

  <node pkg="sonar_reading" type="sonar_reading" name="sensor1">
        <param name="sensor" type="int" value="1" />
  </node>
  <node pkg="sonar_reading" type="sonar_reading" name="sensor2">
        <param name="sensor" type="int" value="2" />
  </node>
  <node pkg="sonar_reading" type="sonar_reading" name="sensor3">
        <param name="sensor" type="int" value="3" />
  </node>
  <node pkg="sonar_reading" type="sonar_reading" name="sensor4">
        <param name="sensor" type="int" value="4" />
  </node>
  <node pkg="projeto" type="operation" name="operation" />

  <node pkg="projeto" type="pose" name="pose" output="screen">
    <param name="freq_pub_pose" value="20.0" />
  </node>

  <!--<node pkg="ardrone_joystick" type="ardrone_teleop" name="ardrone_teleop"/>-->




</launch>
